<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Assignment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container mainpage">
        <div class="row header-wrapper">
            <div class="col-md-8">
                <img src="/src/assets/images/Allianz.png" height="30px" />
                <h3 class="page-title">TimeMarker</h3>
            </div>
            <div class="col-md-4">
                <div>
                    <b>Venkatesh Choudhary</b>
                    <span>Fullstack Developer at Payso</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Star Time</th>
                            <th>End Time</th>
                            <th>Email Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" *ngFor="let lst of usermodels; let i = index">
                            <td>{{lst?.start}}</td>
                            <td>{{lst?.end}}</td>
                            <td>{{lst?.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="form-wrapper">
                    <h5 class="title">Make an entry</h5>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="start" placeholder="Start Time :28.11.2016 09:00" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="end" placeholder="End Time :28.11.2015 09:00"
                            />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="email" placeholder="abc@gmail.com" />
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="form-wrapper">
                    <h5 class="title">Search a record</h5>
                    <form [formGroup]="registerForm" (ngSubmit)="onFetchFirstTenDataRecordsOfUser()">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="email" id="fetchEmailId" placeholder="abc@gmail.com" />
                        </div>
                        <button type="submit" class="btn btn-primary">Fetch</button>
                    </form>
                </div>
            </div>
            <ngx-spinner bdColor="rgba(52,51,51,0.8)" size="large" color="#fff">
                <p style="font-size: 20px; color: white">..doing science! please wait</p>
            </ngx-spinner>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
</body>

</html>