.mainpage {
  padding: 50px 0;
}
.header-wrapper {
padding-bottom: 10px;
margin-bottom: 50px;
border-bottom: 1px solid #1a5276;
}
.page-title {
  margin: auto;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1a5276;
}

span {
display: block;
font-size: 10px;
color: #757575;
}
.table thead {
  background:  #1a5276;
color: white;
}
.form-wrapper {
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
color:#1a5276
}
.form-wrapper .title {
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a5276;
  text-transform: uppercase;
  font-weight: 700;
}
.form-wrapper form .btn {
  padding-left: 20px;
  padding-right: 20px;
  background: #1a5276;
  border-color: #283593;
}
.form-wrapper form .form-control {
  border-color: #E0E0E0;
  box-shadow: none;
}